* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario { 
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump { 
    animation: jump 500ms ease-out;
}
    
.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

/* Animação do Tubo */
@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

/* Animação do Pulo */
@keyframes jump {
    0%{
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

/* Animação das Nuvens */
@keyframes clouds-animation{
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

.creditos {
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.creditos h1, h2, h3 {
    margin-bottom: 5px;
}


@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .piscando {
    animation: piscar 1s infinite;
  }